<%- model_class = TransactionLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:log_type) %></th>
      <th><%= model_class.human_attribute_name(:payer_id) %></th>
      <th><%= model_class.human_attribute_name(:merchant_id) %></th>
      <th><%= model_class.human_attribute_name(:timestamp) %></th>
      <th><%= model_class.human_attribute_name(:cancel) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transaction_logs.each do |transaction_log| %>
      <tr>
        <td><%= link_to transaction_log.id, transaction_log_path(transaction_log) %></td>
        <td><%= transaction_log.amount %></td>
        <td><%= transaction_log.log_type %></td>
        <td><%= transaction_log.payer_id %></td>
        <td><%= transaction_log.merchant_id %></td>
        <td><%= transaction_log.timestamp %></td>
        <td><%= transaction_log.cancel %></td>
        <td><%= transaction_log.status %></td>
        <td><%=l transaction_log.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_transaction_log_path(transaction_log), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      transaction_log_path(transaction_log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
